<h1><%= @user.name%></h1>
    <%= @user.image%>

<%= link_to "Edit Profile", update_user_path %>

<%= link_to "Create Post", create_post_path %>

<% @posts.each do |post| %>
<div>
    <h2><%= link_to post.title, read_post_path(post.id) %></h2>
    <%= post.body%>
</div>
<% end %>