<h1 class= "text-slate-700"><%= @post.title%></h1>
<%= @post.body%>

<div class= "bg-slate-700 mt-4 rounded-full">
  <div class= "flex ml-8">
    <p class= "text-yellow-50">Tags:</p>
    &nbsp
    <p class= "text-yellow-50 font-normal italic"><%= @post.tags%></p>
  </div>
</div>

<div class= "flex justify-end">
  <div class= "flex flex-col">

    <% if @post.user_id == @user.id %>
      <%= link_to 'Edit Post', update_post_path(@post), class: "text-slate-700" %>
    <%end%>

    <%= link_to 'Go Back', home_path, class: "text-slate-700" %>
  </div>
</div>

<h2 class= "text-slate-700 mb-4">Comments</h2>
<%= render "comments/commentForm", comment: @comment%>


<% @post.comments.each do |comment|%>
  <% user = User.find(comment.user_id)%>
  <div>
    <div class= "bg-slate-700 rounded-full mt-4">
      <div class= "ml-8 flex">
        <p class= "text-yellow-50"><%= user.name %></p>
        &nbsp
        <p class= "text-yellow-50">says:</p>
        &nbsp
        <p class= "text-yellow-50"><%= comment.body%></p>
      </div>
    </div>
  </div>

  <% if comment.user_id == @user.id %>
    <div class= "flex justify-end">
      <div class= "flex flex-col">
        <%= link_to 'Edit Comment', update_comments_path(comment), class: "text-slate-700" %>
      </div>
    </div>
  <%end%>
<% end %>